#home{
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  text-align: center;
  width: 100%;

  .form_field {
    color: #fff;
    font-weight: bold;
    &+.form_field{
      margin-top: 1rem;
    }
  }

  #join {
    max-width: 280px;
    margin: 0 auto;
    button, input {
      width: 100%;
    }
  }
  h1 {
    color: #fff;
  }
  .error {
    align-items: center;
    background: #fff;
    border-radius: 4px;
    color: #000;
    display: flex;
    font-size: 92%;
    margin: 2rem auto 0;
    padding: .5rem 1rem;
    .fas {
      color: $orange;
      font-size: 3rem;
    }
  }
  button {
    margin-top: 2rem;
  }
}
