@font-face {
  font-family: 'montserratregular';
  src: url('/css/fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('/css/fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemibold';
  src: url('/css/fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
       url('/css/fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url('/css/fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
       url('/css/fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
